<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Contacto</h4>
        <p>
          Puedes contactarnos por correo electrónico:
          <br />Correoprueba@gmail.com
        </p>
      </div>
      <div class="col-md-6">
        <h4>Síguenos en las redes sociales</h4>
        <ul class="social-icons">
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <i class="fa fa-facebook"></i> Facebook
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <i class="fa fa-twitter"></i> Twitter
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <i class="fa fa-linkedin"></i> LinkedIn
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <!-- Línea horizontal para separar el contenido superior del copyright -->
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">© 2023 Todos los derechos reservados</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-badge-cc"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
          />
          <path d="M10 10.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0" />
          <path d="M17 10.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0" />
        </svg>
      </div>
    </div>
  </div>
</footer>
