<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h4>Contacto</h4>
        <p>
          Puedes contactarnos por correo electrónico:
          <br />
          <a href="correoSoporte@gmail.com">correoSoporte@gmail.com</a>
          <br />
          O llamarnos al siguiente número:
          <img
            class="numero"
            src="../../assets/img/nicaragua.png"
            alt="Numero de telefono"
          />8888-8888
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <h4>Síguenos en las redes sociales</h4>
        <ul class="social-icons">
          <li>
            <img
              class="facebook-icon"
              src="../../../assets/img/facebook.png"
              alt="Icono de facebook"
            />
            <a
              href="https://www.facebook.com/NicaHelmut/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fab fa-facebook"></i> Facebook
            </a>
          </li>

          <li>
            <img
              class="twitter-icon"
              src="../../assets/img/twitter.png"
              alt="Icono de Twitter"
            />
            <a
              href="https://twitter.com/helmut83290982"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fab fa-twitter"></i> Twitter
            </a>
          </li>

          <li>
            <img
              class="twitter-icon"
              src="../../assets/img/youtube.png"
              alt="Icono de Twitter"
            />
            <a
              href="https://www.youtube.com/helmutmartinez128"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fab fa-youtube"></i> YouTube
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="divider" />
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          &copy; <span id="current-year">{{ currentYear }}</span> Todos los
          derechos reservados
        </p>
      </div>
    </div>
  </div>
</footer>
