<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>Contactanos por nuestro correo electronico ejemplo128@gmail.com</p>
      </div>
      <div class="col-md-6">
        <ul class="social-icons">
          <li>
            <a href="#">Facebook<i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#">twitter<i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#">linkedin<i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <p>Copyright © 2023 Todos los derechos reservados</p>
    </div>
  </div>

  <a
    target="_blank"
    href="https://www.amazon.es/b?_encoding=UTF8&tag=nicahelmut-21&linkCode=ur2&linkId=0142920ee0348a97ab17e894514577c7&camp=3638&creative=24630&node=20937987031"
    >Mejores precios de la PlayStation 5 en 2023</a
  >
</footer>
