/* Estilos generales del footer */
.footer {
  background-color: #333333c0;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  font-family: "Arial", sans-serif; /* Cambia "Arial" por tu fuente personalizada */
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

/* Estilos para el texto del footer */
.footer h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer p {
  font-size: 16px;
}

/* Estilos para los íconos de redes sociales */
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline;
  margin-right: 20px;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

/* Estilos para la línea divisoria */
.divider {
  border-top: 1px solid #fff;
  margin: 20px 0;
}

/* Estilos para el texto de derechos de autor y el badge de Creative Commons */
.text-center {
  font-size: 14px;
}

.cc-badge {
  margin-top: 10px;
}

/* Estilos para el año actual */
#current-year {
  font-weight: bold;
}

/* Estilos para el ícono de Creative Commons */
.icon-tabler-badge-cc {
  vertical-align: middle;
}

.video1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*Estilos de boton de facebook */
.facebook-icon {
  width: 30px;
}

.twitter-icon {
  width: 30px;
}

.youtube-icon{
  width: 30px;
}

.numero {
  width: 30px;
}
