<div class="container mx-auto">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
    >
      <svg
        class="bi me-2"
        width="40"
        height="32"
        role="img"
        aria-label="Bootstrap"
      >
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a routerLink="/dashboard" class="nav-link px-2 link-secondary">Home</a>
      </li>
      <li>
        <a
          href="https://allmylinks.com/helmutmartinez128"
          class="nav-link px-2 link-dark"
          >Social media</a
        >
      </li>
      <li><a href="#" class="nav-link px-2 link-dark">Services</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button
        type="button"
        class="btn btn-outline-primary me-2"
        (click)="logOut()"
      >
        Cerra Sesión
      </button>
    </div>
  </header>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Bienvenido!</h1>
    <p class="fs-5 text-muted">{{ dataUser?.email }}</p>
  </div>

  <div class="parent">
    <div class="videos">
      <p class="video1">
        Bienvenidos a un primer video trata sobre un logro bien perrón del cual
        me alegra mucho haberlo completado con mi amigo desgraciado que nos
        introdujo a este tan adictivo y desgraciado juego XD
      </p>
      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/nwrVkQqTC_A"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>

    <div class="videos">
      <p class="video1">
        Este segundo video contiene una de las partidas de la promocion a ORO
        que teniamos que realizar, en la cual pues nuestros aliados se
        convertirian en nuestros propios enemigos XD
      </p>

      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/K8l5AwzS2ZE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>

    <div class="videos">
      <p class="video1">
        Este video es uno de los que más me ha costado hacer, y sobre todo
        investigar, la recopilación de los TOP CANALES CON MAS SUSCRIPTORES DE
        NICARAGUA, algunos me comentaban que no eran esos los mejores canales,
        por eso yo recalco que es de TOP CANALES y no de TOP MEJORES CANALES.
        Así que un buen apoyo al video porque ya cuenta con mas de 2k de
        reproducciones
      </p>

      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/uEQVWtKNN14"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>

    <div class="videos">
      <p class="video1">
        Este cuarto video contiene una de las partidas de Wild Rift que lo hemos
        jugado en directo, junto con algunas promociones a divisiones más
        importantes, y seguiré subiendo videos de directos en los cuales he
        logrado subir divisiones
        <br />
      </p>

      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/REf2MOdx85g"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <app-footer class="w-100"></app-footer>
</div>
