.wrapper {
  display: flex;
  background-color: #f5f5f5;
}

.Logins-buttons {
  display: flex; /* Esto activa Flexbox */
  justify-content: space-around; /* Espaciado uniforme entre los elementos */
  margin-bottom: 10px;

}

.logo {
  height: 130px;
  margin-bottom: 10px;
}
.body {
  width: 100%;
  max-width: 330px;
}

.google-icon {
  width: 40px;
}

.facebook-icon {
  width: 40px;
}

.github-icon{
  width: 40px;
}

.google-button{
  border: none;
  background-color: white;
}
